@font-face {
    font-family: Product-Sans-Bold;
    src: url(assets/fonts/Product\ Sans\ Bold.ttf);
}
@font-face {
    font-family: Product-Sans-Bold-Italic;
    src: url(assets/fonts/Product\ Sans\ Bold\ Italic.ttf);
}
@font-face {
    font-family: Product-Sans-Italic;
    src: url(assets/fonts/Product\ Sans\ Italic.ttf);
}
@font-face {
    font-family: Product-Sans-Regular;
    src: url(assets/fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: Museo-Sans-700;
    src: url(assets/fonts/Product\ Sans\ Regular.ttf);
}

.font-Bold{
    font-family: 'Product-Sans-Bold';
}
.font-Bold-Italic{
    font-family: 'Product-Sans-Bold-Italic'
}
.font-Italic{
    font-family: 'Product-Sans-Italic'
}
.font-Regular{
    font-family: 'Product-Sans-Regular'
}
.font-Museo{
    font-family: 'Museo-Sans-700'
}